<!DOCTYPE html>

<html>
  <header>
    <meta charset="utf-8">
    <title>Home</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- css for header -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/header.css" />
	<!-- css for navbar -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/navbar.css" />
	<!-- css for body  -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/body.css" />
    <!-- css for current page -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/panier.css" />

    <script src="http://localhost:8080/HarmonixWeb/js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script src="panier.js"></script>
  </header>
  <body ng-app="app">
  
  		<!-- header -->
  		<div ng-include="'http://localhost:8080/HarmonixWeb/shared/header/header.htm'"></div>
  
		<!--menu (ruban)-->
		<div ng-include="'http://localhost:8080/HarmonixWeb/shared/navbar/navbar.htm'"></div>

		<!-- main content -->
		<div class="container">
            <div class="panel panel-default">
				<div class="panel-body">
                    <table class="table" id="table">
	                    <thead style="background-color:#F0F0F0">
	                      <tr>
	                        <th><!--bouton delete--></th>
	                        <th>Article</th>
	                        <th>Quantité</th>
	                        <th>Prix</th>
	                      </tr>
	                    </thead>
	                    <tbody ng-controller="panierController as ctrl">
	                    	<tr ng-repeat="(nom, attributs) in ctrl.articles">
	                    		<td><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
	                    		<td><img ng-src="http://localhost:8080/HarmonixWeb/img/{{ attributs.image }}" class="ctm-img" alt="[image]">{{ nom }}</td>
	                    		<td><input type="text" ng-value="{{ attributs.quantity }}"></td>
	                    		<td>{{ attributs.quantity * attributs.prix_u }} €</td>	                    	
	                    	</tr>
	                    	<tr>
	                    		<td class="highrow"></td>
	                    		<td class="highrow"></td>
	                    		<td class="highrow"></td>
	                    		<td class="highrow"></td>
	                    	</tr>
	                    	<tr>
	                    		<td class="emptyrow"></td>
	                    		<td class="emptyrow"></td>
	                    		<td class="emptyrow">TOTAL</td>
	                    		<td class="emptyrow">{{ ctrl.prixTotal() }} €</td>
	                    	</tr>
	                    	<tr>
	                    		<td class="emptyrow" colspan="1"><a href="#" class="btn btn-danger btn-block">Retour</a></td>
	                    		<td class="emptyrow"></td>
	                    		<td class="emptyrow" colspan="2"><a href="#" class="btn btn-success btn-block">Passer commande</a></td>
	                    	</tr>
	                    </tbody>
                    </table>
                </div>
            </div>
        </div>
		
		<!-- application module definition -->
		<script src="panier.js"></script>
		<!-- controller -->
		<script src="panierCtrl.js"></script>
		
		<!-- bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>