<div class="panel panel-default">
	<div class="panel-body">
		<table class="table" id="table">
			<thead style="background-color:#F0F0F0">
				<tr>
					<th><!--bouton delete--></th>
					<th>Article</th>
					<th>Quantité</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody ng-controller="panierController as ctrl">
				<tr ng-repeat="(nom, attributs) in ctrl.panier.articles">
					<td>
						<button class="btn btn-default" ng-click=ctrl.panier.delArticle(nom)>
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
					<td><img ng-src="http://localhost:8080/HarmonixWeb/img/{{ attributs.image }}" class="ctm-img" alt="[image]">{{ nom }}</td>
					<td>
						<input type="number" ng-value="{{ attributs.quantity }}" ng-model="maycouy" ng-change="ctrl.panier.modifyQty(nom, maycouy)" >
					</td>
					<td>{{ attributs.quantity * attributs.prix }} €</td>	                    	
				</tr>
				<tr>
					<td class="highrow"></td>
					<td class="highrow"></td>
					<td class="highrow"></td>
					<td class="highrow"></td>
				</tr>
				<tr>
					<td class="emptyrow"></td>
					<td class="emptyrow"></td>
					<td class="emptyrow">TOTAL</td>
					<td class="emptyrow">{{ ctrl.panier.getTotal() }} €</td>
				</tr>
				<tr>
					<td class="emptyrow" colspan="1"><a href="#" class="btn btn-danger btn-block">Retour</a></td>
					<td class="emptyrow"></td>
					<td class="emptyrow" colspan="2"><a href="#" class="btn btn-success btn-block">Passer commande</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- css for panier -->
<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/panier.css" />