<div class="container ctm-nav-cont">
    <div class="ctm-nav">
    	<div ng-controller="navbarController as ctrl">
	        <ul class="nav navbar-nav">
		        <li ng-init="parentIndex = $index" ng-repeat="item in ctrl.items"
		        ng-mouseenter="ctrl.displayChilds($index)" ng-mouseleave="ctrl.displayChilds($index)">
		            <a ng-href="#categorie/{{item.url}}">{{item.name}}</a>
		            <ul>
		                <li ng-repeat="subItem in item.subItems" ng-show="item.active"
		                ng-mouseenter="ctrl.displayChildsOfChilds($index, parentIndex)" ng-mouseleave="ctrl.displayChildsOfChilds($index, parentIndex)">
		                    <a ng-href="#categorie/{{item.url}}/{{subItem.url}}">
		                    	{{subItem.name}}
		                    </a>
		                    <ul>
		                    	<li ng-repeat="subSubItem in subItem.subSubItems" ng-show="subItem.active" >
		                    		<a ng-href="#categorie/{{item.url}}/{{subItem.url}}/{{subSubItem.url}}">
		                    			{{subSubItem.name}}
		                    		</a>
		                    	</li>
		                    </ul>
		                </li>
		            </ul>
		        </li>
		    </ul>
		</div>
    </div>
</div>
