<div class="panel panel-default">
	<div class="panel-body">
		<div ng-controller="categorieController as ctrl">
	        <h2>{{ctrl.categorie}}</h2>
	        	        <div class="row ctm-row-filters">
		        <div class="col-md-4">
		        	<select class="form-control ctm-select"  ng-model="selected_sort_price" ng_change="ctrl.displayByPrice(selected_sort_price)">
						<option selected disabled hidden>Filtrer par prix</option>     	 
						<option>Du moins cher au plus cher.</option>
						<option>Du plus cher au moins cher.</option>
					</select>
		        </div>
		        <div class="col-md-4">
		        	<select class="form-control ctm-select" ng-model="selected_sort_note" ng-change="ctrl.displayByNote(selected_sort_note)">
						<option selected disabled hidden>Filtrer par note</option>     	 
						<option>Du mieux noté au moins bien noté.</option>
						<option>Du moins bien noté au mieux noté.</option>
					</select>
				</div>
				<div class="col-md-4">
		        	<select class="form-control ctm-select" ng-model="selected_brand" ng-change="ctrl.displayBrand(selected_brand)">
						<option selected disabled hidden>Filtrer par marque</option> 
						<option>Toutes les marques</option>  
						<option ng-repeat="marque in ctrl.marques">{{marque}}</option>
					</select>
				</div>
			</div>
			<!-- liste d'articles -->
			<div class="row row-prod">
				<div ng-repeat="i in ctrl.displayedInstruments" class="col-md-4 ctm-prod">
				
					<!-- if article en promo : -->
					<div class="row" ng-if="i.promo != 0">
						<div class="col-md-3 ctm-promo-div">
							<img class="ctm-promo-img" ng-src="./img/autres/promo.png" alt="[image]">
							<div class="ctm-promo-text">
				     			-{{i.promo}}%
				   			</div>
						</div>
						<div class="col-md-9 ctm-promo-title">       	
			        		<a class="ctm-title-a" ng-href="#ficheInstru/{{i.idInstrument}}">
			        			{{i.nom}}
			        		</a>
			        	</div>
			        </div>
			        <!-- else -->
			        <div class="row" ng-if="i.promo == 0">
			        	<div class="col-md-12 ctm-title-div">        	
			        		<a class="ctm-title-a" ng-href="#ficheInstru/{{i.idInstrument}}">
			        			{{i.nom}}
			        		</a>
		        		</div>
			        </div>
		        	
			      	<!-- image produit-->
			      	<div class="thumbnail ctm-img">
			        	<a ng-href="#ficheInstru/{{i.idInstrument}}">
			        		<img ng-src="./img/produits/{{i.images}}" alt="Generic placeholder thumbnail">
			        	</a>
			        </div>
			        
			        <!-- note à gauche, prix à droite -->			        
		        	<div class="col-md-9 ctm-stars-div">
		        		<i class="fa fa-star ctm-stars-y" aria-hidden="true" ng-repeat="n in ctrl.range(1,i.note)"></i><i class="fa fa-star-half ctm-stars-y-left" aria-hidden="true" ng-if="ctrl.hasHalfStar(i.note) == 1"></i><i class="fa fa-star ctm-stars-y-right" aria-hidden="true" ng-if="ctrl.hasHalfStar(i.note) == 1"></i><i class="fa fa-star ctm-stars-n" aria-hidden="true" ng-if="ctrl.hasHalfStar(i.note) == 2"></i><i class="fa fa-star ctm-stars-n" aria-hidden="true" ng-repeat="n in ctrl.range(1,5 - i.note)"></i>		   							
		        		<span class="ctm-nbvotes"><b>({{i.note}}/5, {{i.nbVotes}} avis)</b></span>
		        	</div>
		        	<!-- if article en promo : -->
		        	<div class="col-md-3 ctm-price-div-2" ng-if="i.promo != 0">
		        		<span class="ctm-promo-strike">{{i.prix}} €</span>
		        	</div>
		        	<!-- else -->
		        	<div class="col-md-3 ctm-price-div" ng-if="i.promo == 0">
		        		<span class="ctm-price">{{i.prix}} €</span>
		        	</div>
			        
			        <!-- caracs à gauche, marque et prix promo à droite (si promo) -->
			        <div class="col-md-8 ctm-specs">
			        	<ul class="ctm-ul">
			        		<li ng-repeat="j in [0,1,2]">
			        			{{i.caracteristiques[j].nom}} : {{i.caracteristiques[j].valeur}}
			        		</li>
						</ul>
			        </div>
			        <div class="col-md-4 ctm-price-div">
			        	<div class="ctm-promo-newprice" ng-if="i.promo != 0">
			        		{{i.prix * ((100-i.promo)/100)}} €
			        	</div>			        
			        	<div class="ctm-promo-none" ng-if="i.promo == 0"></div>	
			        	<img ng-src="./img/marques/{{i.fabricant}}.jpg" class="ctm-brand" alt="[image]">
			        </div>
		        </div>
			</div>
		</div>
	</div>
</div>

<!-- css for instruments list -->
<link rel="stylesheet" type="text/css" href="./css/prodList.css" />