<div class="panel panel-default">
	<div class="panel-body">
		<div ng-controller="categorieController as ctrl">
	        <h2>{{ ctrl.categorie }}</h2>
	        <div class="row ctm-row-filters">
		        <div class="col-md-4">
		        	<select class="form-control ctm-select">
						<option selected disabled hidden>Filtrer par prix</option>     	 
						<option>Du moins cher au plus cher.</option>
						<option>Du plus cher au moins cher.</option>
					</select>
		        </div>
		        <div class="col-md-4">
		        	<select class="form-control ctm-select">
						<option selected disabled hidden>Filtrer par note</option>     	 
						<option>Du mieux noté au moins bien noté.</option>
						<option>Du moins bien noté au mieux noté.</option>
					</select>
				</div>
				<div class="col-md-4">
		        	<select align="center" class="form-control ctm-select">
						<option selected disabled hidden>Filtrer par marque</option>     	 
						<option ng-repeat="marque in ctrl.marques">{{marque}}</option>
					</select>
				</div>
			</div>
			<div class="row row-prod">
				<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
		        	<h4 class="ctm-pname">
		        		<a ng-href="#ficheInstru/{{ i.idInstrument }}">
		        			{{ i.fabricant }} : {{ i.nom }}
		        		</a>
		        	</h4>
			      	<div class="thumbnail ctm-img">
			        	<a ng-href="#ficheInstru/{{ i.idInstrument }}">
			        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.images }}" alt="Generic placeholder thumbnail">
			        	</a>
			        </div>
			        <div class="col-md-6">
			        	<ul class="ctm-ul">
							<li>type : {{ i.type }}</li>
							<li>poids : {{ i.poids }}</li>
							<li>id : {{ i.idInstrument }}</li>
						</ul>
			        </div>
			        <div class="col-md-6">
			        	<h3 class="ctm-price">{{ i.prix }} €</h3>
			        </div>		         
		        </div>
			</div>
		</div>
	</div>
</div>

<!-- css for instruments list -->
<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/prodList.css" />