body {
    background-image: url("http://localhost:8080/HarmonixWeb/img/background_guitar.jpg");
    background-attachment: fixed;
    background-size : 100% 100%;
}
.container {
	max-width: 65%;
}
.ctm-title {
	font-size: 50px;
}
.ctm-subtitle {
	font-size: 20px;
}
.panel {
    border-radius: 0px;
}