/* SOURCE : https://css-tricks.com/targetting-menu-elements-submenus-navigation-bar/ */

.nav ul {
	margin: 0;
	padding:0;
	list-style: none;
}
.nav a {
	display:block;
	background: #333;
	padding: 10px 20px 10px 10px;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}
.nav li {
	position: relative;
}
.nav li:hover > a {
	color:black;
	background:#BBB;
	text-decoration: none;
}
.nav li li a {
	border-top: 1px solid;
    border-color: #666;
}

/* flèches grises menus */
.nav li a:first-child:nth-last-child(2):before {
	content:"";
	position: absolute;
	height:0;
	width: 0;
	border: 5px solid transparent;
	top: 50% ;
	right:5px;
}
/* submenu positioning*/
.nav ul {
	position: absolute;
	white-space: nowrap;
	z-index: 1;
}
.nav > li:hover > ul {
	left: auto;
}
.nav > li li ul {
	border-left:1px solid #666;
}
.nav > li li:hover > ul {
	left: 100%;
	top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
	border-top-color: #aaa;
}
/* fleches noires menu */
.nav > li:hover > a:first-child:nth-last-child(2):before {
	border: 5px solid transparent;
	border-bottom-color: #222;
	margin-top:-5px
} 
/* fleches grises sous menus */
.nav li li > a:first-child:nth-last-child(2):before {
	border-left-color: #aaa;
	margin-top: -5px
}
/* fleches noires sous menus */
.nav li li:hover > a:first-child:nth-last-child(2):before {
	border: 5px solid transparent;
	border-right-color: #222;
	right: 10px;
}
.navbar-nav > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	border-right: 1px solid;
    border-color: #FFFFFF;
}
.ctm-topmenu {
	text-align: center;
	min-width: 85px;
}