.navbar-inverse {
	border-color: #333;
	background-color:#333;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li {
    width: 90px;
    min-height: 30px;
	height: 30px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid;
    border-color: #FFFFFF;
    min-height: 30px;
	height: 30px;
    padding: 5px;
}
.navbar-inverse > ul {
	min-height: 30px;
	height: 30px;
}
.navbar {
	min-height: 30px;
	height: 30px;
	border: none;
}