/* règles communes aux menus & submenus */

.navbar-inverse {
	border-color: #333;
	background-color: #333;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li {
    min-height: 30px;
	height: 30px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 12px;
    border-right: 1px solid;
    border-color: #FFFFFF;
    min-height: 30px;
	height: 30px;
    padding: 5px;
}
.navbar-inverse > ul {
	min-height: 30px;
	height: 30px;
}
.navbar {
	min-height: 30px;
	height: 30px;
	border: none;
}

/* règles pour menus */

.ctm-menu-li {
	width: 90px;
}
.ctm-menu-a {
	text-align: center;
}

/* règles pour sub-menus */

.ctm-submenu-li {
	background-color: #333;
	text-align: left;
	padding: 0px;
	width: 200px;
	border-top: 1px solid;
    border-color: #666;
}
.ctm-submenu-a {
	text-align: left;
	margin-left: 15px;
}