body {
    background-image: url("http://localhost:8080/HarmonixWeb/img/background_guitar.jpg");
    background-attachment: fixed;
    background-size : 100% 100%;
}
.container {
	max-width: 65%;
}
.ctm-title {
	font-size: 50px;
}
.ctm-subtitle {
	font-size: 20px;
}
         /*panier*/
.ctm-caption_size {
	width:25%;
	margin-left: auto;
				margin-right: auto;
}
.ctm-img {
    max-width: 200px;
 			max-height: 100px;
 			margin-right: 10px;
}
.table > tbody > tr > .emptyrow {
             border-top: none;
         }
         .table > tbody > tr > .highrow {
             border-top: 3px solid;
         }
         .ctm-nav-a {
         	color: #FFFFFF;
         }
         /*copypaste from index*/
         /*borders*/
         .col-md-4 {
             border: 1px solid;
         }
         .row {
             border: 1px solid;
         }
         .panel {
             border-radius: 0px;
         }
         /*navbar*/
         .ctm-nav {
             border-color: #333;
             background-color:#333;
             margin-bottom: 0px;
         }
         .navbar-inverse .navbar-nav > li > a {
             color: #FFFFFF;
             font-size: 12px;
             border-right: 1px solid;
             border-color: #FFFFFF;
         }
         .ctm-logo {
             max-width: 275px;
             margin-top: 50px;
             margin-bottom: 50px;
         }
         .ctm-header-row {
             border: 0px;
             margin-right: 0px;
             margin-left: 0px;
         }
         .ctm-header-col {
             padding-right: 0px;
             padding-left: 0px;
         }
         .ctm-form {
             margin-top: 5px;
             position: absolute;
             right: 0px;
         }
         .ctm-form > p {
             display: inline;
             color: #FFFFFF;
         }
         .ctm-btn-w {
             min-width: 100px;
         }
         .ctm-btn-h {
             min-height: 55px;
         }