.ctm-img {
    max-width: 200px;
 	max-height: 100px;
 	margin-right: 10px;
}
.table > tbody > tr > .emptyrow {
    border-top: none;
}
.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
.ctm-nav-a {
	color: #FFFFFF;
}

.ctm-size {
	width: 50px;
}