/*borders*/
.ctm-prod {
	border: 1px solid;
}
.row-prod {
	border: 1px solid;
}
.ctm-price {
	 text-align: right;
	 color: #38761D;
	 font-weight: bold;
	 margin-top: 0px;
}
.ctm-price-div {
	 padding-left: 0px;
	 padding-right: 0px;
}
.ctm-pname {
	min-height: 40px;
}
.ctm-ul {
	padding-left: 0px;
}
.ctm-img {
	min-height: 110px;
}

.ctm-filters {
	align:center;
}

.ctm-select {
	width: 100%;
	margin-bottom: 10px;
}
.ctm-row-filters {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 10px;
	margin-bottom: 20px;
	border: 1px solid;
	border-color: #CCC;
	background-color: #DDD;
	border-radius: 10px;
}
.ctm-seemore {
	text-align: right;	
	margin-top: 15px;
}
.ctm-specs {
	padding-right: 0px;
}
