/*borders*/
.ctm-prod {
	border: 1px solid;
	border-color: #BBB;
}
.row-prod {
	border: 1px solid;
	border-color: #BBB;
}
.ctm-price {
	 color: #38761D;
	 font-size: 24px;
	 font-weight: bold;
	 margin-top: 0px;
}
.ctm-price-div {
	 padding-left: 0px;
	 padding-right: 0px;
	 text-align: right;
}
.ctm-price-div-2 {
	padding-left: 0px;
	padding-right: 0px;
	text-align: right;
}
.ctm-pname {
	min-height: 40px;
}
.ctm-ul {
	padding-left: 0px;
}
.ctm-img {
	min-height: 110px;
}

.ctm-filters {
	align:center;
}

.ctm-select {
	width: 100%;
	margin-bottom: 10px;
}
.ctm-row-filters {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 10px;
	margin-bottom: 20px;
	border: 1px solid;
	border-color: #CCC;
	background-color: #DDD;
	border-radius: 10px;
}
.ctm-specs {
	padding-right: 0px;
}
.ctm-brand {
    max-width: 75px;
    max-height: 28px;
}

.ctm-title-div {
	display: flex;  
    height: 60px;
}
.ctm-title-a {
	font-size: 18px;
	margin: auto 0px;   
}

/* règles pour Promotions */

.ctm-promo-div {
	padding: 0px;
	width: 60px;
}

.ctm-promo-img {
	width: 100%;
	height: 100%;
}

.ctm-promo-text {
	text-align: center;
	color: #ffffff;
	position:absolute;
	top: 5px;
	left: 3px;
	font-size: 16px;
	font-weight: bold;
}

.ctm-promo-title {
	display: flex;  
    height: 60px;
    padding-left: 0px;
}

.ctm-promo-strike{
	/*like ctm-price*/
	color: #38761D;
	font-weight: bold;
	margin-top: 0px;
	
	font-size: 24px;
	/*required for strikethrough*/
    position: relative;
}

.ctm-promo-strike::after{
    content: '';
    border-bottom: 4px solid red;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.ctm-promo-newprice {
	text-align: right;
	color: red;
	font-weight: bold;
	margin-top: 0px;
	font-size: 24px;
	min-height: 35px;
}

.ctm-promo-none {
	min-height: 35px;
}

.ctm-nbvotes {
	color: #666;
	font-size:12px;
}

.ctm-stars-div {
	padding-left: 0px;
}

.ctm-stars-y {
	padding-right: 2px;
	color: #FFC600;
	font-size: 18px;
	text-shadow:
	#000 1px 1px 1px,
	#000 -1px 1px 1px,
	#000 -1px -1px 1px,
	#000 1px -1px 1px; 
}
.ctm-stars-n {
	padding-right: 2px;
	color: #666;
	font-size: 18px;
	text-shadow:
	#000 1px 1px 1px,
	#000 -1px 1px 1px,
	#000 -1px -1px 1px,
	#000 1px -1px 1px; 
}

.ctm-stars-y-left{
	position:relative;
	padding-right: 0px;
	margin-right:-2px;
	color: #FFC600;
	font-size: 18px;
	z-index:2;
}

.ctm-stars-y-right{
	position:relative;
	padding-right: 0px;
	color: #666;
	font-size: 18px;
	text-shadow:
	#000 1px 1px 1px,
	#000 -1px 1px 1px,
	#000 -1px -1px 1px,
	#000 1px -1px 1px; 
	margin-left:-7px;
	z-index:1;
}