.ctm-price {
	 margin-top: 5px;
	 text-align: right;
	 color: #38761D;
	 font-weight: bold;
}

.ctm-price-promo {
	 margin-top: 5px;
	 text-align: right;
	 color: red;
	 font-weight: bold;
}

.ctm-table {
	width: auto;
	margin-left: 20px;
}

.ctm-table > tbody > tr > td {
	border: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
}

.ctm-brand {
    max-width: 85px;
}

.ctm-title {
	margin-top: 5px;
}

.ctm-btn {
	padding-right: 5px;
	padding-left: 5px;
}

.ctm-btn-div {
	padding-left: 8px;
}


.ctm-bigstars-div {
	padding-left: 0px;
	margin-bottom:10px;
	margin-left: 20px;
}

.ctm-bigstars-y {
	padding-right: 2px;
	color: #FFC600;
	font-size: 20px;
	text-shadow:
	#000 1px 1px 1px,
	#000 -1px 1px 1px,
	#000 -1px -1px 1px,
	#000 1px -1px 1px; 
}
.ctm-bigstars-n {
	padding-right: 2px;
	color: #666;
	font-size: 20px;
	text-shadow:
	#000 1px 1px 1px,
	#000 -1px 1px 1px,
	#000 -1px -1px 1px,
	#000 1px -1px 1px; 
}

.ctm-bigstars-y-left{
	position:relative;
	padding-right: 0px;
	margin-right:-2px;
	color: #FFC600;
	font-size: 20px;
	z-index:2;
}

.ctm-bigstars-y-right{
	position:relative;
	padding-right: 0px;
	color: #666;
	font-size: 20px;
	text-shadow:
	#000 1px 1px 1px,
	#000 -1px 1px 1px,
	#000 -1px -1px 1px,
	#000 1px -1px 1px; 
	margin-left:-8px;
	z-index:1;
}