<div class="panel panel-default">

	<!-- Promotions -->
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<h2>Promotions</h2>
			</div>
			<div class="col-md-4 ctm-seemore">						
				<button type="button" class="btn btn-success">Voir plus</button>
			</div>	
		</div>	
		<div class="row row-prod">
			<div ng-controller="instrumentsListController as ctrl">
				<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
		        	<h4 class="ctm-pname">
		        		<a ng-href="#ficheInstru/{{ i.idInstrument }}">
		        			{{ i.fabricant }} : {{ i.nom }}
		        		</a>
		        	</h4>
			      	<div class="thumbnail ctm-img">
			        	<a ng-href="#ficheInstru/{{ i.idInstrument }}">
			        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.images }}" alt="Generic placeholder thumbnail">
			        	</a>
			        </div>
			        <div class="col-md-9 ctm-specs">
			        	<ul class="ctm-ul">
			        		<li ng-repeat="j in [0,1,2]">
			        			{{ i.caracteristiques[j].nom }} : {{ i.caracteristiques[j].valeur }}
			        		</li>
						</ul>
			        </div>
			        <div class="col-md-3 ctm-price-div">
			        	<h3 class="ctm-price">{{ i.prix }} €</h3>
			        </div>
		        </div>
			</div>
		</div>
	</div>

	<!-- Nouveautés -->
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				<h2>Nouveautés</h2>
			</div>
			<div class="col-md-4 ctm-seemore">						
				<button type="button" class="btn btn-success">Voir plus</button>
			</div>	
		</div>
		<div class="row row-prod">
			<div ng-controller="instrumentsListController as ctrl">
				<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
		        	<h4 class="ctm-pname">
		        		<a ng-href="#ficheInstru/{{ i.idInstrument }}">
		        			{{ i.fabricant }} : {{ i.nom }}
		        		</a>
		        	</h4>
			      	<div class="thumbnail ctm-img">
			        	<a ng-href="#ficheInstru/{{ i.idInstrument }}">
			        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.images }}" alt="Generic placeholder thumbnail">
			        	</a>
			        </div>
			        <div class="col-md-6">
			        	<ul class="ctm-ul">
							<li>type : {{ i.type }}</li>
							<li>poids : {{ i.poids }}</li>
							<li>id : {{ i.idInstrument }}</li>
						</ul>
			        </div>
			        <div class="col-md-6">
			        	<h3 class="ctm-price">{{ i.prix }} €</h3>
			        </div>
		        </div>
			</div>
		</div>
	</div>

	<!-- Meilleures ventes -->
	<div class="panel-body">
        <div class="row">
			<div class="col-md-8">
				<h2>Meilleures ventes</h2>
			</div>
			<div class="col-md-4 ctm-seemore">						
				<button type="button" class="btn btn-success">Voir plus</button>
			</div>	
		</div>
		<div class="row row-prod">
			<div ng-controller="instrumentsListController as ctrl">
				<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
		        	<h4 class="ctm-pname">
		        		<a ng-href="#ficheInstru/{{ i.idInstrument }}">
		        			{{ i.fabricant }} : {{ i.nom }}
		        		</a>
		        	</h4>
			      	<div class="thumbnail ctm-img">
			        	<a ng-href="#ficheInstru/{{ i.idInstrument }}">
			        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.images }}" alt="Generic placeholder thumbnail">
			        	</a>
			        </div>
			        <div class="col-md-6">
			        	<ul class="ctm-ul">
							<li>type : {{ i.type }}</li>
							<li>poids : {{ i.poids }}</li>
							<li>id : {{ i.idInstrument }}</li>
						</ul>
			        </div>
					<div class="col-md-6">
			        	<h3 class="ctm-price">{{ i.prix }} €</h3>
			        </div>
		        </div>
			</div>
		</div>
	</div>
</div>

<!-- css for instruments list -->
<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/prodList.css" />
