<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<title>Interface administrateur</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<!-- css for header -->
<link rel="stylesheet" type="text/css" href="./css/header.css" />
<!-- css for navbar -->
<link rel="stylesheet" type="text/css" href="./css/navbar.css" />
<!-- css for body  -->
<link rel="stylesheet" type="text/css" href="./css/body.css" />

<script src="./js/angular.min.js"></script>
<script src="./js/angular-resource.min.js"></script>
<script src="./js/ui-bootstrap.min.js"></script>
<script src="./js/jquery-3.1.0.min.js"></script>
<script src="./js/angular-route.min.js"></script>
<script src="./js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<!-- module -->
<script src="./app.module.js"></script>
<!-- routeur (disabled) -->
<!--<script src="route.config.js"></script> -->
<!-- factory for instruments -->
<script src="./shared/instrument/instrumentFact.js"></script>
<!-- factory for utilisateurs -->
<script src="./shared/utilisateur/utilisateurFact.js"></script>

<!--  controllers for partials -->


<script src="./shared/header/headerCtrl.js"></script>
<script src="./components/home/homeCtrl.js"></script>
<script src="./components/categorie/categorieCtrl.js"></script>
<script src="./components/ficheInstru/ficheInstruCtrl.js"></script>
<script src="./components/panier/panierCtrl.js"></script>
<script src="./components/utilisateur/utilisateurCtrl.js"></script>


<!-- test : class panier -->
<script src="./shared/panier/panierFact.js"></script>
<script src="./js/panier.js"></script>
<script src="./admin.js"></script>
</head>
<body ng-app="app">

	<div class="container ctm-header-cont">
		<div class="row ctm-header-row">
			<div ng-controller="headerController as ctrl">
				<div class="col-md-4 ctm-header-col">
					<a href="./#/"><img src="./img/autres/Logo.png"
						class="ctm-logo"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- formulaire d'inscription -->
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
			<h1> Interface Administrateur</h1>
				<div class="col-md-6 col-md-offset-3">
					<div ng-controller="adminController as ctrl">
						<div class="col-md-12">
							<h2>Ajout d'instruments</h2>
							<form name="form" ng-submit="ctrl.ajoutInstru()" role="form">
								<div class="form-group" novalidate>
									<input type="text" name="nom" id="nom" placeholder="Nom de l'instrument" class="form-control margin-bottom" ng-model="ctrl.instrument.nom"/>
									 <label for="categorie">Sélectionner une catégorie</label>
									  <select class="form-control margin-bottom" id="categorie" class="form-control margin-bottom" ng-model="ctrl.categorie">
									    <option ng-repeat="c in ctrl.categories">{{c}}</option>
									  </select>
									<label for="images">Sélectionner une image</label>
								  	<input type="file" name="images" placeholder="Images..." id="images" class="upload-file margin-bottom"/>
								  	<!-- <button type="button" ng-click="ctrl.ajoutImages()">Charger l'image</button> -->
								  	<label for="caracteristiques">Caractéristiques</label>
								  	<input type="text" name="caracNom" id="caracNom" placeholder="Nom de la caractéristique" class="form-control margin-bottom"/><input type="text" name="caracValeur" id="caracValeur" placeholder="Valeur de la caractéristique" class="form-control margin-bottom"/>
								  	<button type="button" class="margin-bottom" ng-click="ctrl.ajoutCarac()">Ajouter une caractéristique</button>
								  	<br>
								  	<label for="listCarac">Table des caractéristiques ajoutées</label>
								  	<table class="ctm-carac-table table table-striped table-bordered">
								  	<tr class="ctm-carac-headers">
								  		<th class="ctm-carac-th">Nom</th>
								  		<th class="ctm-carac-th">Valeur</th>
								  	</tr>
								  	<tr class="ctm-carac-row" ng-repeat="carac in ctrl.caracteristiques">
								  		<td class="ctm-carac-td">{{carac.nom}}</td>
										<td class="ctm-carac-td">{{carac.valeur}}</td>
								  	</tr>
								  	</table>
									<input type="text" name="fabricant" placeholder="Nom du fabricant" class="form-control margin-bottom" id="fabricant" ng-model="ctrl.instrument.fabricant"/>
									<input type="number" name="prix" placeholder="Prix" class="form-control margin-bottom" id="prix" ng-model="ctrl.instrument.prix"/>
									<input type="number" name="promo" placeholder="Promo" class="form-control margin-bottom" id="promo" ng-model="ctrl.instrument.promo"/>
									<input type="number" name="stock" placeholder="Stock" class="form-control margin-bottom" id="stock" ng-model="ctrl.instrument.stock"/>
									<!--  Caractéristiques ??? -->
								</div>
								<div class="form-actions">
									<button type="submit"
										class="btn btn-primary" ng-click="ctrl.ajoutImages()">
										Ajouter
									</button>
								</div>
							</form>
						</div>
						<div class="col-md-12">
							<h2>Modification d'instruments</h2>
							A venir...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
