<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Page d'accueil</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- css for header -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/header.css" />
	<!-- css for navbar -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/navbar.css" />
	<!-- css for body  -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/body.css" />
    <!-- css for current page -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/index.css" />

    <script src="http://localhost:8080/HarmonixWeb/js/angular.min.js"></script>
    <script src="http://localhost:8080/HarmonixWeb/js/angular-resource.min.js"></script>
<!-- 	<script src="http://localhost:8080/HarmonixWeb/js/angular-ui-router.min.js"></script> -->
	<script src="http://localhost:8080/HarmonixWeb/js/jquery-3.1.0.min.js"></script>
    <script src="app.module.js"></script>
<!--     <script src="route.config.js"></script> -->
    <!-- controller -->
	<script src="indexCtrl.js"></script>
	<!-- factory for instruments -->
	<script src="shared/instrument/instrumentFact.js"></script>
	<!-- bootstrap -->
	<script src="http://localhost:8080/HarmonixWeb/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body ng-app="app">

  		<!-- header -->
  		<div ng-include="'http://localhost:8080/HarmonixWeb/shared/header/header.htm'"></div>
<!--   		<div ui-view="header"></div> -->

		<!--menu (ruban)-->
		<div ng-include="'http://localhost:8080/HarmonixWeb/shared/navbar/navbar.htm'"></div>
<!-- 		<div ui-view="menu"></div> -->

		<!-- main content -->
		<div class="container">
			<div class="panel panel-default">

				<!-- Promotions -->
				
				<div class="panel-body">
	            	<h2>Promotions</h2>
					<div class="row row-prod">
						<div ng-controller="instrumentsListController as ctrl">
							<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
					        	<h4>
					        		<a ng-href="http://localhost:8080/HarmonixWeb/components/ficheInstru/ficheInstru.html/{{ i.id }}">
					        			{{ i.name }}
					        		</a>
					        	</h4>
						      	<div class="thumbnail">
						        	<a ng-href="http://localhost:8080/HarmonixWeb/components/ficheInstru/ficheInstru.html/{{ i.id }}">
						        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.image }}" alt="Generic placeholder thumbnail">
						        	</a>
						        </div>
						         <p>- {{ i.carac1 }}<br>- {{ i.carac2 }}<br>- {{ i.carac3 }}</p>
					        </div>
						</div>
					</div>
				</div>
				
				<!-- Nouveautés -->
				
				<div class="panel-body">
	            	<h2>Nouveautés</h2>
					<div class="row row-prod">
						<div ng-controller="instrumentsListController as ctrl">
							<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
					        	<h4>
					        		<a ng-href="http://localhost:8080/HarmonixWeb/components/ficheInstru/ficheInstru.html/{{ i.id }}">
					        			{{ i.name }}
					        		</a>
					        	</h4>
						      	<div class="thumbnail">
						        	<a ng-href="http://localhost:8080/HarmonixWeb/components/ficheInstru/ficheInstru.html/{{ i.id }}">
						        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.image }}" alt="Generic placeholder thumbnail">
						        	</a>
						        </div>
						         <p>- {{ i.carac1 }}<br>- {{ i.carac2 }}<br>- {{ i.carac3 }}</p>
					        </div>
						</div>
					</div>
				</div>
				
				<!-- Meilleures ventes -->
				
				<div class="panel-body">
	            	<h2>Meilleures ventes</h2>
					<div class="row row-prod">
						<div ng-controller="instrumentsListController as ctrl">
							<div ng-repeat="i in ctrl.instruments" class="col-md-4 ctm-prod">
					        	<h4>
					        		<a ng-href="http://localhost:8080/HarmonixWeb/components/ficheInstru/ficheInstru.html/{{ i.id }}">
					        			{{ i.name }}
					        		</a>
					        	</h4>
						      	<div class="thumbnail">
						        	<a ng-href="http://localhost:8080/HarmonixWeb/components/ficheInstru/ficheInstru.html/{{ i.id }}">
						        		<img ng-src="http://localhost:8080/HarmonixWeb/img/{{ i.image }}" alt="Generic placeholder thumbnail">
						        	</a>
						        </div>
						         <p>- {{ i.carac1 }}<br>- {{ i.carac2 }}<br>- {{ i.carac3 }}</p>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
