<div class="panel panel-default">
	<div class="panel-body">
		<div ng-controller="instrumentController as ctrl">
			<div class="col-md-12">
				<img ng-src="http://localhost:8080/HarmonixWeb/img/marques/{{ctrl.marque}}.jpg" class="ctm-brand" alt="[image]">		
			</div>
			<div class="col-md-8">
				<h2 class="ctm-title">{{ ctrl.modele}}</h2>
			</div>
			<div class="col-md-3">				
				<h2 class="ctm-price">{{ ctrl.prix }}.00 €</h2>
			</div>
			<div class="col-md-1 ctm-btn-div">				
				<!-- <button class="btn btn-default"> -->
				<button class="btn btn-success ctm-btn" ng-click=ctrl.panier.addArticle(ctrl.modele,ctrl.prix,ctrl.image,ctrl.id)>
					<span class="glyphicon glyphicon-shopping-cart" style="font-size:1.5em;"></span>
					<span class="glyphicon glyphicon-plus" style="font-size:1.5em;"></span>
				</button>
			</div>
			<div class="col-md-12">		
				<div class="thumbnail">
		        	<img ng-src="http://localhost:8080/HarmonixWeb/img/produits/{{ ctrl.image }}" alt="Generic placeholder thumbnail">
		   		</div>
		   		<h3>Spécifications</h3>
			    <table class="table ctm-table" id="table">
			    	<tbody>
			    		<tr ng-repeat="key in ctrl.specs">
			    			<td><b>{{key.nom}}</b></td>
			    			<td>{{key.valeur}}</td>
			    		</tr>
			    	</tbody>
				</table>
		   	</div>
		   	<div class="col-md-12">
		   		<div class="ctm-postAvis form-group">
		   		<h3>Donnez votre avis</h3>
		   		 <form ng-submit="ctrl.ajoutPost()">
			   			<div class="stars col-md-12" style="margin-left:-35px;">
							    <input class="star star-5" id="star-5" type="radio" name="star" ng-model="ctrl.avis.note" value="5"/>
							    <label class="star star-5" for="star-5"></label>
							    <input class="star star-4" id="star-4" type="radio" name="star" ng-model="ctrl.avis.note" value="4"/>
							    <label class="star star-4" for="star-4"></label>
							    <input class="star star-3" id="star-3" type="radio" name="star" ng-model="ctrl.avis.note" value="3"/>
							    <label class="star star-3" for="star-3"></label>
							    <input class="star star-2" id="star-2" type="radio" name="star" ng-model="ctrl.avis.note" value="2"/>
							    <label class="star star-2" for="star-2"></label>
							    <input class="star star-1" id="star-1" type="radio" name="star" ng-model="ctrl.avis.note" value="1"/>
							    <label class="star star-1" for="star-1"></label>
						</div>
						<div class="ctm-titre-avis col-md-12">
							<input id="titre-avis" type="text" placeholder="Titre..." ng-model="ctrl.avis.titre">
						</div>
					
<!-- 						<div class="col-md-12">
						 Ajouter le test si l'utilisateur est connecté
							<input id="pseudo" type="text" placeholder="Pseudo.." ng-model="">
						</div> -->
			   			<div class="ctm-input-avis col-md-8">
			   				 <textarea class="form-control col-md-12" rows="5" placeholder="Entrez votre avis sur l'instrument ici..." ng-model="ctrl.avis.texte"></textarea>
			   			</div>
				   		<div class="col-md-offset-6 col-md-1 ">
				   			<button type="submit" class="btn btn-primary">
				   				Envoyer
				   			</button>
				   		</div>
					  </form>
			   		</div>
			   	</div>
		   		<div class="col-md-12">
		   		<h3>Avis des utilisateurs</h3>
		   			<div class="ctm-avis col-md-10 form-group">
		   				<div class="thumbnail col-md-12" ng-repeat="a in ctrl.avisList">
		   					<div class="row col-md-3">
		   						<div class="col-md-12">
		   							<i class="fa fa-star" aria-hidden="true" ng-repeat="n in ctrl.range(1,a.note)"></i><i class="fa fa-star-o" aria-hidden="true" ng-repeat="n in ctrl.range(1,5 - a.note)"></i>		   							
		   						</div>
		   						<div class="col-md-12">
		   							{{a.date | date:"dd/MM/yyyy 'à' h:m"}}
		   						</div>	   			
		   					</div>
		   					<div class="row col-md-9">
		   						<span class="form-control col-md-1">{{a.titre}}</span>
		   						<span class="form-control col-md-12">{{a.texte}}</span>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		</div>
	</div>		
</div>

<!-- css for ficheInstru -->
<link rel="stylesheet" type="text/css" href="http://localhost:8080/HarmonixWeb/css/prodDetail.css" />

