<div class="panel panel-default">
	<div class="panel-body">
		<div ng-controller="instrumentController as ctrl">
			<div class="col-md-12">
				<img ng-src="./img/marques/{{ctrl.instrument.fabricant}}.jpg" class="ctm-brand" alt="[image]">		
			</div>
			<div class="col-md-8">
				<h2 class="ctm-title">{{ctrl.instrument.nom}}</h2>
			</div>
			<div class="col-md-3">		
				<h2 class="ctm-price" ng-if="ctrl.instrument.promo == 0">
					{{ctrl.prixfinal}} €
				</h2>
				<h2 class="ctm-price-promo" ng-if="ctrl.instrument.promo != 0">
					{{ctrl.prixfinal}} €
				</h2>
			</div>
			<div class="col-md-1 ctm-btn-div">				
				<!-- <button class="btn btn-default"> -->
				<button class="btn btn-success ctm-btn" ng-click=ctrl.panier.addArticle(ctrl.instrument.nom,ctrl.prixfinal,ctrl.instrument.images,ctrl.instrument.idInstrument)>
					<span class="glyphicon glyphicon-shopping-cart" style="font-size:1.5em;"></span>
					<span class="glyphicon glyphicon-plus" style="font-size:1.5em;"></span>
				</button>
			</div>
			<div class="col-md-12 ctm-bigstars-div">
		        <i class="fa fa-star ctm-bigstars-y" aria-hidden="true" ng-repeat="n in ctrl.range(1,ctrl.instrument.note)"></i><i class="fa fa-star-half ctm-bigstars-y-left" aria-hidden="true" ng-if="ctrl.hasHalfStar(ctrl.instrument.note) == 1"></i><i class="fa fa-star ctm-bigstars-y-right" aria-hidden="true" ng-if="ctrl.hasHalfStar(ctrl.instrument.note) == 1"></i><i class="fa fa-star ctm-bigstars-n" aria-hidden="true" ng-if="ctrl.hasHalfStar(ctrl.instrument.note) == 2"></i><i class="fa fa-star ctm-bigstars-n" aria-hidden="true" ng-repeat="n in ctrl.range(1,5 - ctrl.instrument.note)"></i>		   							
		        <span class="ctm-nbvotes"><b>({{ctrl.instrument.note}}/5, {{ctrl.instrument.nbVotes}} avis)</b></span>
		    </div>
			<div class="col-md-12">		
				<div class="thumbnail">
		        	<img ng-src="./img/produits/{{ctrl.instrument.images}}" alt="Generic placeholder thumbnail">
		   		</div>
		   		<h3>Spécifications</h3>
			    <table class="table ctm-table" id="table">
			    	<tbody>
			    		<tr ng-repeat="key in ctrl.instrument.caracteristiques">
			    			<td><b>{{key.nom}}</b></td>
			    			<td>{{key.valeur}}</td>
			    		</tr>
			    	</tbody>
				</table>
		   	</div>
		   	<div class="col-md-12">
		   		<div class="ctm-postAvis form-group">
		   		<h3>Donnez votre avis</h3>
		   		 <form ng-submit="ctrl.ajoutPost()">
			   			<div class="stars col-md-12" style="margin-left:-35px;">
							    <input class="star star-5" id="star-5" type="radio" name="star" ng-model="ctrl.avis.note" value="5"/>
							    <label class="star star-5" for="star-5"></label>
							    <input class="star star-4" id="star-4" type="radio" name="star" ng-model="ctrl.avis.note" value="4"/>
							    <label class="star star-4" for="star-4"></label>
							    <input class="star star-3" id="star-3" type="radio" name="star" ng-model="ctrl.avis.note" value="3"/>
							    <label class="star star-3" for="star-3"></label>
							    <input class="star star-2" id="star-2" type="radio" name="star" ng-model="ctrl.avis.note" value="2"/>
							    <label class="star star-2" for="star-2"></label>
							    <input class="star star-1" id="star-1" type="radio" name="star" ng-model="ctrl.avis.note" value="1"/>
							    <label class="star star-1" for="star-1"></label>
						</div>
						<div class="ctm-titre-avis col-md-12">
							<input id="titre-avis" type="text" placeholder="Titre..." ng-model="ctrl.avis.titre">
						</div>
					
<!-- 						<div class="col-md-12">
						 Ajouter le test si l'utilisateur est connecté
							<input id="pseudo" type="text" placeholder="Pseudo.." ng-model="">
						</div> -->
			   			<div class="ctm-input-avis col-md-8">
			   				 <textarea class="form-control col-md-12" rows="5" placeholder="Entrez votre avis sur l'instrument ici..." ng-model="ctrl.avis.texte"></textarea>
			   			</div>
				   		<div class="col-md-offset-6 col-md-1 ">
				   			<button type="submit" class="btn btn-primary">
				   				Envoyer
				   			</button>
				   		</div>
					  </form>
			   		</div>
			   	</div>
		   		<div class="col-md-12">
		   		<h3>Avis des utilisateurs</h3>
		   			<div class="ctm-avis col-md-10 form-group">
		   				<div class="thumbnail col-md-12 ctm-one-avis" ng-repeat="a in ctrl.instrument.avis">
		   					<div class="row col-md-3 ctm-infos-avis">
		   						<div class="col-md-12 ctm-note-avis">
		   							<b>Note :</b>
		   							<br>
	        						<i class="fa fa-star yellow-stars" aria-hidden="true" ng-repeat="n in ctrl.range(1,a.note)"></i><i class="fa fa-star empty-stars" aria-hidden="true" ng-repeat="n in ctrl.range(1,5 - a.note)"></i>
		   							({{a.note}}/5)
		   						</div>
		   						<div class="col-md-12 ctm-date-avis">
		   							<b>Posté le</b>
		   							<br>
		   							{{a.date | date:"dd/MM/yyyy 'à' H:mm"}}
		   						</div>	   			
		   					</div>
		   					<div class="row col-md-9 ctm-contenu-avis">
		   						<span class="form-control col-md-1 ctm-title-avis">{{a.titre}}</span>
		   						<pre class="form-control col-md-12 ctm-text-avis">{{a.texte}}</pre>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		</div>
	</div>		
</div>

<!-- css for ficheInstru -->
<link rel="stylesheet" type="text/css" href="./css/prodDetail.css" />

