<div class="container ctm-header-cont">
	<div class="row ctm-header-row">
		<div ng-controller="headerController as ctrl">
			<div class="col-md-4 ctm-header-col">
				<a href="http://localhost:8080/HarmonixWeb/#/"><img src="http://localhost:8080/HarmonixWeb/img/autres/Logo.png" class="ctm-logo"></a>
			</div>
			<div class="col-md-6 ctm-header-col">
				
				<form name="form" class="form-inline ctm-form" ng-submit="ctrl.auth()" role="form">
					<input type="email" class="form-control" id="email" placeholder="adresse mail" ng-model="ctrl.mail" >
					<input type="password" class="form-control" id="password" placeholder=" mot de passe" ng-model="ctrl.motDePasse">
					<input class="btn btn-primary ctm-btn-log" value="Connexion" type="submit">		
				</form>				
				<br><br>				
				<form class="form-inline ctm-form">
					<a href="./components/utilisateur/formulaire.html">
					<p class="ctm-p ctm-p-inline">Pas encore membre ?</p>
					<input class="btn btn-primary ctm-btn-log" value="Inscription" type="button">	
				</form>
			</div>
			<!-- bouton panier -->
			<div class="col-md-2 ctm-header-col">
				<form class="ctm-form">
					<a ng-href="#panier/">
						<button type="submit" class="btn btn-success ctm-btn-panier">
						    <span style="font-size:3.5em;" class="glyphicon glyphicon-shopping-cart"></span>
						</button>
					</a>
					<p class="ctm-p ctm-total">Total : {{ ctrl.panier.getTotal() }} €</p>
				</form>				
			</div>
		</div>
	</div>
</div>