<div class="panel panel-default">
	<div class="panel-body">
		<div ng-controller="macrocategorieController as ctrl">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 ctm-title-div">        
		    		<img class="ctm-title-img" ng-src="./img/categories/{{ctrl.currentCategory.urlImage}}">
		  			<div class="ctm-title-text">
		     			{{ctrl.currentCategory.name}}
		   			</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 ctm-list-cat">
					<div ng-repeat="c in ctrl.currentCategory.subCategories" style='float:left' class=elemListe>
						<div class="thumbnail ctm-thumb">
					    	<a href="#{{ctrl.currentCategory.type_fils}}/{{c.url}}">
					        	<img ng-src="./img/categories/{{c.urlImage}}" alt="Generic placeholder thumbnail">
					    	</a>         
				        </div>
				        <a class="subCategory" ng-href="#{{ctrl.currentCategory.type_fils}}/{{c.url}}">
			        		{{c.name}}
			        	</a>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>		
		</div>
	</div>
</div>

<!-- css for category list -->
<link rel="stylesheet" type="text/css" href="./css/categoryList.css" />
