<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<title>Paiement</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<!--     <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/> -->
<!-- css for header -->
<link rel="stylesheet" type="text/css"
	href="../../css/header.css" />
<!-- css for navbar -->
<link rel="stylesheet" type="text/css"
	href="../../css/navbar.css" />
<!-- css for body  -->
<link rel="stylesheet" type="text/css"
	href="../../css/body.css" />

<script src="../../js/angular.min.js"></script>
<script
	src="../../js/angular-resource.min.js"></script>
<script src="../../js/ui-bootstrap.min.js"></script>
<!--<script src="../../js/angular-ui-router.min.js"></script> -->
<script src="../../js/jquery-3.1.0.min.js"></script>
<script src="../../js/angular-route.min.js"></script>
<script src="../../js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<!-- module -->
<script src="../../app.module.js"></script>
<!-- routeur (disabled) -->
<!--<script src="route.config.js"></script> -->
<!-- factory for instruments -->
<script	src="../../shared/instrument/instrumentFact.js"></script>
<!-- factory for utilisateurs -->
<script	src="../../shared/utilisateur/utilisateurFact.js"></script>

<!--  controllers for partials -->

<script	src="../../shared/header/headerCtrl.js"></script>
<script	src="../../components/home/homeCtrl.js"></script>
<script	src="../../components/categorie/categorieCtrl.js"></script>
<script	src="../../components/ficheInstru/ficheInstruCtrl.js"></script>
<script	src="../../components/panier/panierCtrl.js"></script>
<script	src="../../components/utilisateur/utilisateurCtrl.js"></script>
<script	src="../../components/paiement/paiementCtrl.js"></script>

<!-- test : class panier -->
<script
	src="../../shared/panier/panierFact.js"></script>
<script src="../../js/panier.js"></script>
</head>

<body ng-app="app">
	<div class="container ctm-header-cont">
		<div class="row ctm-header-row">
			<div ng-controller="headerController as ctrl">
				<div class="col-md-4 ctm-header-col">
					<a href="../../#/"><img src="../../img/autres/Logo.png" class="ctm-logo"></a>
				</div>
				<div class="col-md-6 ctm-header-col">
				
					<form name="form" class="form-inline ctm-form" ng-submit="ctrl.auth()" role="form">
						<input type="email" class="form-control" id="email" placeholder="adresse mail" ng-model="ctrl.mail">
						<input type="password" class="form-control" id="password" placeholder=" mot de passe" ng-model="ctrl.motDePasse">
						<input class="btn btn-primary ctm-btn-log" value="Connexion" type="submit">
					</form>
					<br><br>
					<form class="form-inline ctm-form">
					<a href="../utilisateur/formulaire.html">
						<p class="ctm-p ctm-p-inline">Pas encore membre ?</p>
						<input class="btn btn-primary ctm-btn-log" value="Inscription" type="button">
					</a>
					</form>
				</div>
				<!-- bouton panier -->
				<div class="col-md-2 ctm-header-col">
					<form class="ctm-form">			
						<a href="../../#/panier/">			
							<div class="btn btn-success ctm-btn-panier">
							    <span style="font-size:3.5em;" class="button-cart glyphicon glyphicon-shopping-cart"></span>
							</div>		
						</a>			
						<p class="ctm-p ctm-total">Total : {{ ctrl.panier.getTotal() }} €</p>
					</form>				
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-6 col-md-offset-3">
					<div ng-controller="paiementController as ctrl">
						<h2>Informations de facturation</h2>
						<form name="form" ng-submit="ctrl.stockerInfosPaiement()" role="form">
							<h4>Adresse de facturation</h4>
					   		<div class="form-group"
					   			ng-class="{ 'has-error': form.adresse1.$dirty && form.adresse1.$error.required }">
					   			<label for="adresse1">Adresse 1</label>
								<input type="text" name="adresse1" id="adresse1"
									class="form-control" ng-model="ctrl.adresse1" required/>
							</div>
					        
					        <div class="form-group"
					        	ng-class="{ 'has-error': form.adresse2.$dirty && form.adresse2.$error.required }">
					        	<label for="adresse2">Adresse 2</label>
								<input type="text" name="adresse2" id="adresse2" 
									class="form-control" ng-model="ctrl.adresse2"/>
							</div>
							
							<div class="form-group"
								ng-class="{ 'has-error': form.codePostal.$dirty && form.codePostal.$error.required }">
								<label for="codePostal">Code postal</label>
								<input type="text" name="codePostal" id="codePostal" 
									class="form-control" ng-model="ctrl.codePostal" required/>
							</div>
							
							<div class="form-group"
								ng-class="{ 'has-error': form.ville.$dirty && form.ville.$error.required }">
								<label for="ville">Ville</label>
								<input type="text" name="ville" id="ville" 
									class="form-control" ng-model="ctrl.ville" required/>
							</div>
							
							<h4>Envoi de la facture</h4>
							<div class="form-group"
								ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" 
									class="form-control" ng-model="ctrl.email" required/>
							</div>
							
							<div class="form-actions">
								<button type="submit" ng-disabled="form.$invalid || vm.dataLoading"
								class="btn btn-primary" href="../../">Envoyer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>
			
